.cardContainer{
    width: 100%;
    border:2px solid #BEBEBE;
    padding: 14px 16px;
    display: flex;
    justify-content: space-between;
    margin:10px 0;
    cursor: pointer;
    border-radius: 5px;
    align-items: center;
    position: relative;
}

.label{
    position: absolute;
    top:0;
    left:30px;
    color:white;
    width:150px;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.title{
    font-weight: 500;
}

input[type='radio'] { 
    transform: scale(2.3); 

    accent-color: #47BA68;

}

.disable{
    background:#E7E7E7 ;
}


.checkedStyles{
    border: 2px solid #47BA68;
    background-color: #D7EDDD;
}
.inputBox input[type="radio"]:checked {
    outline: none;
  }
  
  
  
  
  
  @media (max-width: 768px){
    input[type='radio'] { 
        transform: scale(1);
    
    }

    .title{
        font-size: 14px;
    }
  }
  