.mainContainer{
    background-image: url('../../assets/background.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%; 
  min-height: 100vh; 
  height: auto;
  padding:100px;
}
.headingText{
    font-size: 3rem;
    font-weight: 500;
    color:white;
   margin-bottom:30px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
   
}

.bannerLeft{
    flex:2;

}

.bannerRight{
    flex:1;

}


@media (max-width: 768px){
   .mainContainer{
    padding: 20px;
   }

    .container{
        flex-direction: column;
    }
}