.mainContainer{
    background-image: url('../../assets/background.png');
  background-size: cover; 
  background-position: center center;
  background-repeat: no-repeat;
  width: 100%; 
  min-height: 100vh; 
  height: auto;
  padding:100px;
}
.headingText{
    font-size: 3.6rem;
    font-weight: 500;
    color:white;
   margin-bottom:30px;

}

.container{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap:120px;
   
}

.bannerLeft{
    flex:1.5;

}

.bannerRight{
    flex:1;

}


@media (max-width: 768px){
   .mainContainer{
    padding:80px 10px;
   }

    .container{
        flex-direction: column;
    }
    .headingText{
        text-align: center;
        font-size: 2rem
    }

    .bannerLeft{
        flex:1;
    
    }
    
    .bannerRight{
        flex:1;
        width: 100%;
    
    }
}